{% extends "base.html" %}
{% block imports%}
<script language="JavaScript" type="text/javascript" src="{{url_for('static',filename="js/cidades-estados.js")}}"></script>

{% endblock %}
{% block content %}
  <div id="page-wrapper">
    <div class="container-fluid">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endwith %}
      <br><br>
      <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th class="text-center">
            Numero<br>
          </th>
          <th class="text-center">
            Agência<br>
          </th>
          <th class="text-center">
            Data Criação<br>
          </th>
          <th class="text-center">
            Ultimo Acesso<br>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          {% for conta in contas%}

        <tr align=center>
          <td>{{conta.numero}}</td>
          <td>{{conta.agencia}}</td>
          <td>{{conta.data_criacao.strftime("%d de %B %Y")}}</td>
          <td>{{conta.ultimo_acesso.strftime("%d de %B %Y")}}</td>
          <td><a href="{{url_for('extratoConta',conta=(conta.numero|string +";"+conta.agencia))}}" class="btn btn-info" role="button">Extrato</a>
        </tr>
        {% endfor %}
        </tbody>
        </table>
          <br><br>

    </div>
  </div>
{% endblock %}