{% extends "base.html" %}

{% block content %}
<body>
        <!-- Navigation -->

        <div id="page-wrapper">

            <div class="container-fluid">
              {% with messages = get_flashed_messages() %}
                <br>
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                  <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                </div>
                {% endif %}
              {% endwith %}
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>{{current_user.nome}}</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                  {% if not current_user.is_func %}
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Cupons</h3>
                            </div>
                            <div class="panel-body">
                              {% for c in cupom %}
                                <div class="list-group">
                                    <a class="list-group-item">
                                        <span class="badge">{{c.validade.strftime("%d %b %y")}}</span>
                                        <i class="fa fa-fw fa-money"></i> Codigo:{{c.numero_cupom}}<br>
                                                                          Conta: {{c.numero_co}}<br>
                                                                          Agencia: {{c.agencia}}
                                    </a>
                                </div>
                              {% endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Operações de suas contas</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hove table-stripe">
                                        <thead>
                                            <tr>
                                                <th><font size=2>Op</font></th>
                                                <th><font size=2>Conta</font></th>
                                                <th><font size=2>Agencia</font></th>
                                                <th><font size=2>Data</font></th>
                                                <th><font size=2>Hora</font></th>
                                                <th><font size=2>Valor</font></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for op in o %}
                                            <tr>
                                                <td><font size=2>{{op.numero_op}}</font></td>
                                                <td><font size=2>{{op.numero_co}}</font></td>
                                                <td><font size=2>{{op.agencia}}</font</td>
                                                <td><font size=2>{{op.data_op.strftime("%d %b %y")}}</font></td>
                                                <td><font size=2>{{op.data_op.strftime("%H:%M")}}</font></td>
                                                {% if op.tipo == "debito"%}
                                                <td><font size=2 color="#ff0000">- {{op.valor}}</font></td>
                                                {% else %}
                                                <td><font size=2 color="#0040ff">+ {{op.valor}}</font</td>
                                                {% endif %}
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="/conta/get?opcao=get&op=extrato">Ver todas operações <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% else%}
                    <div class="col-lg-5">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Clientes</h3>
                          </div>
                          <div class="panel-body">
                            {% if clientes %}
                            {% for c in clientes %}
                              <div class="list-group">
                                  <a href="{{url_for('contasCliente',num_func=c.id)}}"class="list-group-item">
                                      <span class="badge">{{c.data_nasc.strftime("%d %b %y")}}</span>
                                      <i class="fa fa-fw fa-money"></i> Nome:{{c.nome}}<br>
                                  </a>
                              </div>
                              {% endfor%}
                            {% else%}
                              Você ainda não tem clientes :(
                            {%endif%}
                          </div>
                      </div>
                    </div>

                  {% endif %}
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    <!-- /#wrapper -->

</body>
{% endblock %}

