{% extends "base.html" %}

{% block content %}
  <div id="page-wrapper">
    <div class="container-fluid">
          <br>
          <br>
          <br>
          <br>
      <center><h2> Você não pode deletar esta agência contas, funcionários ou clientes dependem dela! </h2></center>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

    </div>
  </div>
{% endblock %}