{% extends "base.html" %}
{% block imports%}
<script language="JavaScript" type="text/javascript" src="{{url_for('static',filename="js/cidades-estados.js")}}"></script>

{% endblock %}
{% block content %}
  <div id="page-wrapper">
    <div class="container-fluid">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endwith %}
      <br><br>
      <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th class="text-center">
            Operação #<br>
          </th>
          <th class="text-center">
            Conta #<br>
          </th>
          <th class="text-center">
            Agência<br>
          </th>
          <th class="text-center">
            Descrição<br>
          </th>
          <th class="text-center">
            Data<br>
          </th>
          <th class="text-center">
            Hora<br>
          </th>
          <th class="text-center">
            Valor<br>
          </th>
        </tr>
        </thead>
        <tbody>
          {% for o in operacoes%}
        <tr>
          <td>{{o.numero_op}}</td>
          <td>{{o.numero_co}}</td>
          <td>{{o.agencia}}</td>
          <td>{{o.descricao}}</td>
          <td>{{o.data_op.strftime("%w %B %Y")}}</td>
          <td>{{o.data_op.strftime("%H:%M")}}</td>
          {% if o.tipo == "debito"%}
          <td><font size=2 color="#ff0000"> - {{o.valor}}</font></td>
          {% else %}
          <td><font size=2 color="#0040ff">+ {{o.valor}}</font></td>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
          <br><br>

    </div>
  </div>
{% endblock %}