{% extends "base.html" %}
{% block imports%}
<script language="JavaScript" type="text/javascript" src="{{url_for('static',filename="js/cidades-estados.js")}}"></script>

{% endblock %}
{% block content %}
  <div id="page-wrapper">
    <div class="container-fluid">
      <br><br>
      <form method="post" align="left">
      {{form.csrf_token}}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endwith %}
      {%if form.errors.nome%}
      <div class="alert alert-danger" role="alert">
        <ul>
        {%for e in form.errors.nome%}
          <li> {{e}} </li>
        {%endfor%}
      </ul>
      </div>
      {%endif%}
      <p> Nome: {{form.nome(class="form-control",value=user.nome)}}    </p>
      {%if form.errors.telefone%}
      <div class="alert alert-danger" role="alert">
        <ul>
        {%for e in form.errors.telefone%}
          <li> {{e}} </li>
        {%endfor%}
      </ul>
      </div>
      {%endif%}
      <p> Telefone: {{form.telefone(class="form-control",value=user.telefone)}}  </p>
      {%if form.errors.nome_ag%}
      <div class="alert alert-danger" role="alert">
        <ul>
        {%for e in form.errors.nome_ag%}
          <li> {{e}} </li>
        {%endfor%}
      </ul>
      </div>
      {%endif%}
      <p> Agencia: {{form.nome_ag(class="form-control",value=user.nome_ag)}}  </p>
      {% if current_user.level > 1%}
      {%if form.errors.level%}
      <div class="alert alert-danger" role="alert">
        <ul>
        {%for e in form.errors.level%}
          <li> {{e}} </li>
        {%endfor%}
      </ul>
      </div>
      {%endif%}
      <p> Nivel de Acesso: {{form.level(class="form-control",value=user.level)}}  </p>
      {% endif %}
      {%if form.errors.password%}
      <div class="alert alert-danger" role="alert">
        <ul>
        {%for e in form.errors.password%}
          <li> {{e}} </li>
        {%endfor%}
      </ul>
      </div>
      {%endif%}
      <p> Senha: {{form.password(class="form-control",placeholder="Nova Senha")}}  </p>
      <br>
      {%if form.errors.youpassword%}
      <div class="alert alert-danger" role="alert">
        <ul>
        {%for e in form.errors.youpassword%}
          <li> {{e}} </li>
        {%endfor%}
      </ul>
      </div>
      {%endif%}
      <p> Sua Senha: {{form.youpassword(class="form-control",placeholder="Sua Senha para confirmação")}}  </p>
          <br><br>
          <button type="submit" class="btn btn-lg btn-primary">Atualizar</button>
    </form>
    </div>
  </div>
{% endblock %}