{% extends "base.html" %}

{% block content %}
  <div id="page-wrapper">
    <div class="container-fluid">
          <br>
          <br>
          <h1> Seu Saldo </h1>
           <label class="col-2 col-form-label">Numero: {{conta.numero}}</label><br>
           <label class="col-2 col-form-label">Agencia: {{conta.agencia}}</label><br>
           <label class="col-2 col-form-label">Saldo: {{conta.saldo}}</label>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

    </div>
  </div>
{% endblock %}